/* replaced with tailwind styling */
/* #map {
  height: 100%;
} */

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

h1 {
  font-family: "Bebas Neue", cursive;
}

a {
  margin-top: 1rem;
}
